.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #707070; /* Change to your preferred background color */
    padding: 10px 0; /* Adjust padding as needed */
    text-align: center;
  }

  .mochiy {
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }