.login-form {
  background-color: #cfcfcf; /* Change the background color as desired */
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Optional: Center the form vertically on the page */
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mochiy {
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.errordisplay{
  color:red;
}